In [25]:
import geopandas as gpd

blocks = gpd.read_parquet('./data/blocks.parquet')
blocks.head(3)

,geometry,land_use,is_living,build_floor_area,living_demand,living_area,share_living,business_area,share_business,site_area,...,capacity_bus_station,capacity_bus_stop,capacity_pier,capacity_animal_shelter,capacity_military_kom,capacity_prison,capacity_landfill,capacity_plant_nursery,capacity_greenhouse_complex,capacity_warehouse
id,,,,,,,,,,,,,,,,,,,,,
0,"POLYGON ((354918.622 6625258.829, 354901.464 6...",None,True,43840.686518,50.641057,30688.480678,2.199357,13152.205840,0.942581,804466.712114,...,0,0,0,0,0,0,0,0,0,0
1,"POLYGON ((355412.142 6623378.149, 355411.700 6...",transport,True,10294.395525,53.114392,2177.690063,0.431105,8116.705462,1.606820,23173.129862,...,0,0,0,0,0,0,0,0,0,0
2,"POLYGON ((353934.329 6625429.433, 353923.453 6...",recreation,True,1173.871643,58.693582,821.710142,0.706252,352.161501,0.302679,363005.815802,...,0,0,0,0,0,0,0,0,0,0

Data organizer makes it easier to handle blocks data. It must be initialized with blocks geometries

In [26]:
from blocksnet.utils.organizing import DataOrganizer

organizer = DataOrganizer(blocks)
organizer.blocks.head()

                                             geometry
id
0   POLYGON ((354918.622 6625258.829, 354901.464 6...
1   POLYGON ((355412.142 6623378.149, 355411.700 6...
2   POLYGON ((353934.329 6625429.433, 353923.453 6...
3   POLYGON ((355099.099 6623847.765, 355074.808 6...
4   POLYGON ((352766.168 6621954.748, 352744.412 6...

Assigning certain `key` with `DataFrame` `value` is possible by using `=`

In [27]:
from blocksnet.config import service_types_config

for st in service_types_config:
    column = f'capacity_{st}'
    if column in blocks.columns:
        organizer[st] = blocks[[column]].rename(columns={column:'capacity'})

Known keys may be obtained via `keys` property

In [28]:
organizer.keys[:5]

['school', 'kindergarten', 'hospital', 'polyclinic', 'pitch']

To obtain certain data use `key`

In [29]:
organizer['school'].head()

                                             geometry  capacity
id
0   POLYGON ((354918.622 6625258.829, 354901.464 6...       0.0
1   POLYGON ((355412.142 6623378.149, 355411.700 6...       0.0
2   POLYGON ((353934.329 6625429.433, 353923.453 6...       0.0
3   POLYGON ((355099.099 6623847.765, 355074.808 6...       0.0
4   POLYGON ((352766.168 6621954.748, 352744.412 6...       0.0

More than 1 key can be provided, but in this case the order matters. If certain columns overlap, first key is prioritized

In [31]:
organizer['school', 'kindergarten'].head()

                                             geometry  capacity
id
0   POLYGON ((354918.622 6625258.829, 354901.464 6...       0.0
1   POLYGON ((355412.142 6623378.149, 355411.700 6...       0.0
2   POLYGON ((353934.329 6625429.433, 353923.453 6...       0.0
3   POLYGON ((355099.099 6623847.765, 355074.808 6...       0.0
4   POLYGON ((352766.168 6621954.748, 352744.412 6...       0.0